<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<input type="text">
<input type="password">
<input type="submit" onclick="sendJson()">
<script>
    function sendJson() {
        let params = {"username":"aaaa","password":"1234567"};
        let xhr = new XMLHttpRequest();
        xhr.open("post","http://127.0.0.1:8000/register",false);
        xhr.setRequestHeader("Content-Type","application/json");
        xhr.send(JSON.stringify(params));
        if (xhr.status = 1){
            window.location.href="http://127.0.0.1:8000/"
        }
    }
</script>
</body>
</html>